body {
    background-color: grey;
}

header {
    padding: 40px;
    background-color:aqua;
    text-align: center;
    color:#333;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

main {
    background-color:bisque;
}

footer {
    background-color: aqua;
}


h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#333;
}

/* homepage styles */

.title-section {
    background-color:rebeccapurple;
}

.section-one {
    background-color: aquamarine;
    padding: 100px;
}




