body {
    background-color: grey;
    flex-wrap: wrap;
}

header {
    padding: 40px;
    background-color:aqua;
    text-align: center;
    color:#333;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

main {
    background-color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

footer {
    background-color: aqua;
}


h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    padding: 10px;
}

/* homepage styles */

.title-section {
    background-color:rebeccapurple;
}

.section-one {
    background-color: lightslategrey;
    padding: 100px;
    justify-content: space-between;
    align-content: space-between;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.section-two {
    background-color: rgb(0, 115, 255);
    padding: 100px;
    align-content:flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:whitesmoke;
    }

.section-three {
    background-color: chocolate;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.section-four {
    background-color: indigo;
    padding: 100px;
    
}

.section-five {
    background-color: #f43;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    justify-content: flex-start;
}






