body {
    background-color: grey;
    flex-wrap: wrap;
}

header {
    padding: 40px;
    background-color:#333;
    text-align: center;
    color:whitesmoke;
}

button {
    padding: 10px;
    background-color: lightslategray;
    border: 1px solid crimson;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 2px;
    transition-duration:1s;
}

button:hover {
    background-color:orangered;
    color:aliceblue;
    font-weight: bold;
    box-shadow:0 5px whitesmoke;
    transform: translateY(4px);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

main {
    background-color:slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

footer {
    background-color:#333;
    color:whitesmoke;
}


h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    padding: 10px;
}

/* homepage styles */

.title-section {
    background-color:darkslategrey;
}

.section-one {
    background-color: darkgoldenrod;
    padding: 100px;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.section-two {
    background-color: rgb(0, 115, 255);
    padding: 100px;
    align-content:flex-start;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.typo-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    max-width:1450px;
    flex-wrap:wrap;
    margin: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 3;
}

.typo-group { 
    display:flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
    
}

.typo-item {
    width: 300px;   
    padding: 10px; 
}

.typo-text {
    display:block;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
}

.carp-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    max-width:1450px;
    flex-wrap:wrap;
    margin: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 3;
}

.carp-group {
    display:flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
}

.carp-item { 
    display:flex;
    justify-content: space-around; 
    flex-direction: row;
    width: 25%;  
    padding: 10px; 
}


h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    display:flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
    }

.section-three {
    background-color: chocolate;
    padding: 100px;
    align-content:flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.section-four {
    background-color: indigo;
    padding: 100px;
    
}

.section-five {
    background-color: rgb(187, 55, 43);
    border: 2px;
    border-style:solid;
    border-color: #333;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color:whitesmoke;
    justify-content: flex-start;
}

p {
    color: whitesmoke;
}

a:link {
    text-decoration: none;
    color: black;
}






